<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>
<script src="https://kit.fontawesome.com/0ae10de0e5.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="styles/footer.css" />
<link rel="stylesheet" type="text/css" href="styles/home.css" />
<link rel="stylesheet" type="text/css" href="styles/navbar.css" />
<link rel="stylesheet" type="text/css" href="styles/home1.css" />
<link rel="stylesheet" type="text/css" href="styles/benefit.css" />

<body>
    <header></header>
    <main>
        <div id="benefitone">
            <h5>DECEMBER 10, 2021</h5>
        </div>
        <div id="benefittwo">
            <h1>Benefits Of Natural Skin Care Products</h1>
        </div>
        <div id="benefitthree">
            <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Skin-care_1080x.jpg?v=1639415346" />
        </div>
        <div id="benefitfour">
            <p>
                Natural is the new normal. Yes, you heard it right. Out of the many options available in the market, the youth today is leaning towards all things green & organic. Though all products are passed through stringent tests to ensure that they meet the required
                standards and are not potentially dangerous to the consumers’ skin, there is no doubt that some are better than others.
            </p>
            <p>
                Will it come as a surprise if we tell you that natural skincare products make up for the major part of these so-called “better” products? We hope not. The buzz about going all-natural is spreading like wildfire. Let’s understand why.
            </p>
        </div>
        <div id="benefitfive">
            <h3 class="colorgray">1 . Greener for the planet</h3>
            <p>
                Natural skincare products are manufactured using natural and organic materials via sustainable practices. As a result, they do not contain a high percentage of toxic, harmful ingredients that will be released into the atmosphere and water bodies, first
                as waste and then down your drain. They also don’t pose a threat to animals that come in contact with these products. It not only preserves the environment but the ecology as well.
            </p>
        </div>
        <div id="benefitsix">
            <h3 class="colorgray">2 . Softer on your skin</h3>
            <p>
                Natural ingredients are softer on your skin. As they have no added harmful chemicals, they work in harmony with your skin and are not against it. Synthetic products make use of fillers that end up doing more harm than good in the long run. While they
                are quick to serve their purpose, in the long run, they damage your skin’s moisture barrier, clog your pores, and increase sensitivity.
            </p>
        </div>

        <div id="benefitsix">
            <h3 class="colorgray">3 . Healthy for your body</h3>
            <p>
                Natural skincare products are manufactured using natural and organic materials via sustainable practices. As a result, they do not contain a high percentage of toxic, harmful ingredients that will be released into the atmosphere and water bodies, first
                as waste and then down your drain. They also don’t pose a threat to animals that come in contact with these products. It not only preserves the environment but the ecology as well.
            </p>
        </div>
        <div id="benefitsix">
            <h3 class="colorgray">4 . Minimum allergic reaction</h3>
            <p>
                Natural ingredients are softer on your skin. As they have no added harmful chemicals, they work in harmony with your skin and are not against it. Synthetic products make use of fillers that end up doing more harm than good in the long run. While they
                are quick to serve their purpose, in the long run, they damage your skin’s moisture barrier, clog your pores, and increase sensitivity.
            </p>
        </div>
        <div id="benefitsix">
            <h3 class="colorgray">5 . History says so</h3>
            <p>
                A lot of these natural products are based on ayurvedic preparations. Man has been using raw natural ingredients ever since he understood them. Why do you think our ancestors and grandparents still emphasize applying a DIY paste of aloe vera, honey, and
                turmeric to fight tan? Because natural ingredients existed long before their synthetic counterparts were discovered and manufactured. Besides, if nature can treat most illnesses, skincare is not a big thing.
            </p>
        </div>

        <div id="benefitsix">
            <h3 class="colorgray">Are you adopting the greener path?</h3>
            <p>
                To summarize, adopting natural ingredients and including them in your skincare routine and lifestyle, benefits not only you and your body but the environment as well. The roots of natural ingredients go way deeper, and there is definitely something great
                about it that helps them withstand the test of time and cut-throat competition in the skincare market. With WOW Skin Science, you can get the benefits of using natural ingredients in their purest form, without the hassle of mixing or gathering
                ingredients by yourself.
            </p>
        </div>
        <div id="benefitsix">
            It’s time to make the switch to natural. Chemicals ki nahi, ab nature ki suno & Be WOW, Naturally!
        </div>
        <div id="hrdiv">
            <hr />
        </div>

        <div id="threeimagetext">
            <h1 style="color: #746661">In same category</h1>
        </div>
        <div id="threeimage">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Skin-care_600x.jpg?v=1639415346" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    BENEFITS OF NATURAL SKIN CARE PRODUCTS
                </p>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Omega-3_1_600x.jpg?v=1639394682" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    WHAT ARE THE BENEFITS OF OMEGA 3 CAPSULES FOR SKIN AND HAIR?
                </p>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/kids_body_lotion_600x.jpg?v=1638970833" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    SHOULD WE USE BODY LOTION FOR KIDS IN WINTER?
                </p>
            </div>
            <hr />
        </div>
    </main>
    <footer></footer>
</body>

</html>
<script src="scripts/home.js"></script>
<script type="module" src="scripts/headerFooter.js"></script>