<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>
<script src="https://kit.fontawesome.com/0ae10de0e5.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="styles/footer.css" />
<link rel="stylesheet" type="text/css" href="styles/home.css" />
<link rel="stylesheet" type="text/css" href="styles/navbar.css" />
<link rel="stylesheet" type="text/css" href="styles/home1.css" />
<link rel="stylesheet" type="text/css" href="styles/benefit.css" />

<body>
    <header></header>
    <main>
        <div id="benefitone">
            <h5>DECEMBER 10, 2021</h5>
        </div>
        <div id="benefittwo">
            <h1>Should We Use Body Lotion For Kids In Winter?</h1>
        </div>
        <div id="benefitthree">
            <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/kids_body_lotion_1080x.jpg?v=1638970833" />
        </div>
        <div id="benefitfour">
            <p>
                Winters are an open invitation to harsh winds. If these cold, harsh winds can dry out your skin, it is only natural to worry about what it can do to your child’s skin as well. Baby skin is often characterized as smooth and soft. In comparison to adults,
                their skin is much more fragile. As a matter of fact, the skin of your child regulates water differently. Moreover, they have a reduced capacity for natural moisturizing factors and skin lipid production.
            </p>
            <p>
                While pediatric dermatology is still in its budding stage, one cannot simply deny the fact that it's vital. As parents, you will make every effort to keep your child’s skin safe and protected and the best part about this process is its simplicity. As
                compared to an adult skincare routine, pediatric skincare is relatively easy. You can summarise it in the following three steps:
            </p>
        </div>
        <div id="benefitfive" class="benefitsix">
            <h3><i>As stated before, a child's skin loses moisture faster in winters, leaving their rosy red cheeks and skin dull and dry. The best way to overcome this is to use body lotion for kids. The dermatologists will agree to this too. Now that you know that body lotions are safe for use on kids’ skin, let's quickly go over a few reasons as to why you should immediately include them in your child’s winter skincare routine. </i></h3>
            <p>
                While the primary benefits of The WOW Life Science Omega 3 Capsules are keeping your heart health in check by reducing cholesterol and plaque build-up on arteries and keeping your joints and bones healthy, in addition to supporting the nervous system
                and managing weight, the Omega Capsule benefits for skin and hair are equally remarkable.
            </p>
        </div>
        <div id="" class="benefitsix">
            <h4>Omega 3 Capsule benefits for hair</h4>
            <p>
                <ul>
                    <li>
                        It provides essential nutrients to nourish the hair and scalp, improves the quality of hair and makes it shiny and lustrous
                    </li>
                    <li>It boosts hair growth by promoting circulation in the scalp and controls hair fall by preventing hair follicle inflammation
                    </li>
                    <li>It prevents tender scalp from flaking and itching</li>
                    <li>It helps in the production of essential oils which strengthens the hair and scalp</li>

                </ul>
            </p>
        </div>

        <div id="" class="benefitsix">
            <h5>Omega 3 Capsule benefits for skin</h5>
            <p>
                <ul>
                    <li>
                        It provides essential nutrients to nourish the hair and scalp, improves the quality of hair and makes it shiny and lustrous
                    </li>
                    <li>It boosts hair growth by promoting circulation in the scalp and controls hair fall by preventing hair follicle inflammation
                    </li>
                    <li>It prevents tender scalp from flaking and itching</li>
                    <li>It helps in the production of essential oils which strengthens the hair and scalp</li>

                </ul>
            </p>
        </div>



        <div id="threeimagetext">
            <h1>In same category</h1>
        </div>
        <div id="threeimage">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Skin-care_600x.jpg?v=1639415346" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    BENEFITS OF NATURAL SKIN CARE PRODUCTS
                </p>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Omega-3_1_600x.jpg?v=1639394682" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    WHAT ARE THE BENEFITS OF OMEGA 3 CAPSULES FOR SKIN AND HAIR?
                </p>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/kids_body_lotion_600x.jpg?v=1638970833" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    SHOULD WE USE BODY LOTION FOR KIDS IN WINTER?
                </p>
            </div>
            <hr />
        </div>
    </main>
    <footer></footer>
</body>

</html>
<script src="scripts/home.js"></script>
<script type="module" src="scripts/headerFooter.js"></script>