<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>
<script src="https://kit.fontawesome.com/0ae10de0e5.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="styles/footer.css" />
<link rel="stylesheet" type="text/css" href="styles/home.css" />
<link rel="stylesheet" type="text/css" href="styles/navbar.css" />
<link rel="stylesheet" type="text/css" href="styles/home1.css" />

<body>
    <header></header>
    <main>
        <div class="mySlider">
            <div class="silder">
                <div class="slides">
                    <div class="image">
                        <img src="homeImages/Banner_tube.jpeg" />
                    </div>
                    <div class="text">
                        <div>
                            <h4 style="color: #8d4822">L A U N C H I N G</h4>
                            <h1>WOW's 1st Paper Tube</h1>
                            <br />
                            <p>Be WOW, Naturally #EkChotiSiShuruwaat</p>
                            <br />
                            <button>SHOP RESPONSIBLY</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="silder">
                <div class="slides">
                    <div class="text">
                        <div>
                            <h4 style="color: #8d4822"># B E W O W N A T U R A L L Y</h4>
                            <h1>Strengthen Hair With Onin</h1>
                            <br />
                            <p>Onion Range of Hair Care Products</p>
                            <br />
                            <button>Discover Now</button>
                        </div>
                    </div>
                    <div class="image">
                        <img src="homeImages/Banner_lady.jpeg" />
                    </div>
                </div>
            </div>

            <div class="silder">
                <div class="slides">
                    <div class="image">
                        <img src="homeImages/Banner_lady1.jpeg" />
                    </div>
                    <div class="text">
                        <div>
                            <h4 style="color: #8d4822">B E S T O F N A T U R E</h4>
                            <h1>Infused with Aloe Vera</h1>
                            <br />
                            <p>Aloe Vera Range of Skin Care</p>
                            <br />
                            <button>Discover Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div style="text-align: center" id="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <div id="main">

            <div id="productdiv" style="margin-top: 30px;">
                <div id="first">
                    <div id="firstproductdiv">
                        <div id="left" style="margin-top: 300px">
                            <div id="leftarrowskin"><i class="fas fa-chevron-left"></i></div>
                        </div>
                        <div id="middle">
                            <div id="heading">
                                <span id="headingone">Best Selling Skin & Hair Care</span>
                            </div>
                            <div id="skindiv"></div>
                        </div>
                        <div id="right" style="margin-top: 300px">
                            <div id="rightarrowskin">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div id="skinviewdiv">
                        <div id="skinviewdott">
                            <i class="fas fa-circle"></i><i class="far fa-circle"></i>
                        </div>
                        <div id="skinview"><a href="/productitem">VIEW ALL</a></div>
                    </div>
                </div>

                <div id="first">
                    <div id="firstproductdiv">
                        <div id="left" style="margin-top: 300px">
                            <div id="leftarrowhealth"><i class="fas fa-chevron-left"></i></div>
                        </div>
                        <div id="middle">
                            <div id="heading">
                                <span id="headingone">Health & Nutrition</span>
                            </div>
                            <div id="healthdiv"></div>
                        </div>
                        <div id="right" style="margin-top: 300px">
                            <div id="rightarrowhealth">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div id="healthviewdiv">
                        <div id="skinviewdott">
                            <i class="fas fa-circle"></i><i class="far fa-circle"></i>
                        </div>
                        <div id="healthview"><a href="/productitem">VIEW ALL</a></div>
                    </div>
                </div>

                <div id="first">
                    <div id="firstproductdiv">
                        <div id="left" style="margin-top: 300px">
                            <div id="bathingleftarrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                        </div>
                        <div id="middle">
                            <div id="heading">
                                <span id="headingone">Bathing Bar</span>
                            </div>
                            <div id="bathingproduct"></div>
                        </div>
                        <div id="right" style="margin-top: 300px">
                            <div id="bathingrightarrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div id="skinviewdiv">
                        <div id="skinviewdott">
                            <i class="fas fa-circle"></i><i class="far fa-circle"></i>
                        </div>
                        <div id="bathingview"><a href="/productitem">VIEW ALL</a></div>
                    </div>
                </div>

                <div id="videodiv">
                    <div id="videoshow">
                        <video controls style="width: 90%; height: 90%;">
                            <source src="https://www.youtube.com/watch?v=X0pv5EFwA9Q" type="video/mp4" >
                            </video>/

                    </div>
                    <div id="videotext">
                        <div style="color: #E69E6C; font-size: 18px; padding-bottom: 15px">
                            S U S T A I N A B L E P A C K A G I N G
                        </div>
                        <div>
                            <div style="
                    color:#7C6E69;
                    font-size: 55px;
                    padding-right: 40px;
                    padding-bottom: 25px;
                  ">
                                Vitamin C Face Wash in WOW's 1st Paper Tube</div>
                        </div>
                        <div style="color: #ADA49D; font-style: italic; padding-bottom: 35px">
                            WOW Skin Science proudly presents the newest avatar of everyone’s favourite Vitamin C Face Wash in a Paper Tube packaging. With a 45% reduction in plastic at source, this new packaging is our #EkChotiSiShuruwaat towards a sustainable future. Join us and
                            the #WOWGreenHands initiative for a plastic positive tomorrow.
                        </div>
                        <div style="color: #ABA49D ;font-weight: bold;">
                            Celebrate Gorgeously, Be WOW, Naturally
                        </div>
                    </div>
                </div>
                <div id="first">
                    <div id="firstproductdiv">
                        <div id="left" style="margin-top: 300px">
                            <div id="ubtanleftarrow"><i class="fas fa-chevron-left"></i></div>
                        </div>
                        <div id="middle">
                            <div id="heading">
                                <span id="headingone">Ubtan Range</span>
                            </div>
                            <div id="ubtanproduct"></div>
                        </div>
                        <div id="right" style="margin-top: 300px">
                            <div id="ubtanrightarrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div id="skinviewdiv">
                        <div id="skinviewdott">
                            <i class="fas fa-circle"></i><i class="far fa-circle"></i>
                        </div>
                        <div id="ubtanview"><a href="/productitem">VIEW ALL</a></div>
                    </div>
                </div>
                <div id="first">
                    <div id="firstproductdiv">
                        <div id="left" style="margin-top: 300px">
                            <div id="onionleftarrow"><i class="fas fa-chevron-left"></i></div>
                        </div>
                        <div id="middle">
                            <div id="heading">
                                <span id="headingone">Red Onion Black Seed Oil Range</span>
                            </div>
                            <div id="onionproduct"></div>
                        </div>
                        <div id="right" style="margin-top: 300px">
                            <div id="onionrightarrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div id="skinviewdiv">
                        <div id="skinviewdott">
                            <i class="fas fa-circle"></i><i class="far fa-circle"></i>
                        </div>
                        <div id="onionview"><a href="/productitem">VIEW ALL</a></div>
                    </div>
                </div>
                <div id="queenpicdiv">
                    <div id="queenone" style="font-size: 28px ;color: #746661;">Endless Extras</div>
                    <div id="queentwo">
                        <p style="font-size: 19px">
                            Joining WOW Pro Points means getting exclusive rewards, priority treatment, and of course best of personal care! Get Extra 500 Pro Points, as our treat to you, for a limited time!
                        </p>
                    </div>
                    <div id="queenthree">
                        <div id="queenthreeone">
                            <div class="queenimg">
                                <img style="width: 200px; height: 200px" src="https://cdn.shopify.com/s/files/1/1375/4957/files/Become_A_PRO_Member_1.png?v=1638359634" />
                            </div>
                            <div class="queentext">
                                <div style="
                        font-size: 22px;
                        font-weight: bold;
                        margin: auto;
                        text-align: center;
                        margin-bottom: 15px;
                      ">
                                    Become A PRO Member
                                </div>
                                <div style="font-size: 16px; margin: auto; text-align: center" class="earn">
                                    Sign up today to avail exclusive discounts, rewards and much more!
                                </div>
                                <div style="
                        font-size: 18px;
                        margin: auto;
                        text-align: center;
                        margin-bottom: 15px;
                      ">
                                    Learn More
                                </div>
                            </div>
                        </div>
                        <div id="queenthreetwo">
                            <div class="queenimg">
                                <img style="width: 200px; height: 200px" src="https://cdn.shopify.com/s/files/1/1375/4957/files/Earn-PRO-Points_2.png?v=1638359634" />
                            </div>
                            <div class="queentext">
                                <div style="
                        font-size: 22px;
                        font-weight: bold;
                        margin: auto;
                        text-align: center;
                        margin-bottom: 15px;
                      ">
                                    Earn PRO Points
                                </div>
                                <div style="font-size: 16px; margin: auto; text-align: center; " class="earn">
                                    Multiple ways to earn PRO Points, the higher the points the better the reward!
                                </div>
                                <div style="font-size: 18px; margin: auto; text-align: center">
                                    Learn More
                                </div>
                            </div>
                        </div>
                        <div id="queenthreethree">
                            <div class="queenimg">
                                <img style="width: 200px; height: 200px" src="https://cdn.shopify.com/s/files/1/1375/4957/files/Redeem_on_next_purchase_1.png?v=1638359634" />
                            </div>
                            <div class="queentext">
                                <div style="
                        font-size: 22px;
                        font-weight: bold;
                        margin: auto;
                        text-align: center;
                        margin-bottom: 15px;
                      ">
                                    Redeem on Next Purchase
                                </div>
                                <div style="font-size: 16px; margin: auto; text-align: center" class="earn">
                                    Redeem your points and avail discounts on your favourites.
                                </div>
                                <div style="font-size: 18px; margin: auto; text-align: center">
                                    Learn More
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="largesizebg">
                    <p style="
                  padding-left: 100px;
                  font-size: 25px;
                  font-weight: bold;
                  padding-top: 70px;
                  font-size: 30px;
                  color: #746661;
                ">
                        Latest News
                    </p>
                    <div id="largebgfirst">
                        <div id="largeone">
                            <div class="largeoneone">
                                <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Skin-care_540x.jpg?v=1639415346" />
                            </div>
                            <div class="largeonetwo">DECEMBER 10, 2021</div>
                            <div class="largeonethree">
                                BENEFITS OF NATURAL SKIN CARE PRODUCTS
                            </div>
                            <div class="largeonefour">
                                Natural is the new normal. Yes, you heard it right. Out of the many options
                            </div>
                            <div class="largeonefive"><a href="/benefit">READ MORE</a></div>
                        </div>
                        <div id="largetwo">
                            <div class="largeoneone">
                                <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Omega-3_1_540x.jpg?v=1639394682" />
                            </div>
                            <div class="largeonetwo">DECEMBER 10, 2021</div>
                            <div class="largeonethree" style="margin-bottom: 50px;">
                                What Are The Benefits Of Skin And Hair Care
                            </div>
                            <div class="largeonefour">
                                Natural is the new normal. Yes, you heard it right. Out of the many options
                            </div>
                            <div class="largeonefive"><a href="/omega">READ MORE</a></div>
                        </div>
                        <div id="largethree">
                            <div class="largeoneone">
                                <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/1375/4957/articles/kids_body_lotion_540x.jpg?v=1638970833" />
                            </div>
                            <div class="largeonetwo">DECEMBER 10, 2021</div>
                            <div class="largeonethree">
                                Should We Use Body Lotion For Kids In Winter
                            </div>
                            <div class="largeonefour">
                                Natural is the new normal. Yes, you heard it right. Out of the many options
                            </div>
                            <div class="largeonefive"><a href="/bodylotion">READ MORE</a></div>
                        </div>
                    </div>
                    <div id="dottimgbg" style="text-align: center; margin-top: 30px;"><i class="fas fa-circle"></i> <i class="far fa-circle"></i> <i class="far fa-circle"></i></div>
                </div>

                <div id="leafimg">
                    <div id="leafone"><img src="https://cdn.shopify.com/s/files/1/1375/4957/files/onion_cartoon.png?v=1638771547" width="100%"></div>
                    <div id="leaftwo">
                        <div>
                            <h1> WOW X Sustainability</h1>

                        </div>
                    </div>
                    <div id="leafthree"></div>
                    <div id="leaffour">
                        <img src="https://cdn.shopify.com/s/files/1/1375/4957/files/apple_cartoon.png?v=1638771946" width="100%" height="60%">
                    </div>
                </div>
                <div id="text1">
                    WOW Skin Science is a personal care brand started in the year 2013 with the objective of offering natural personal care products that deliver visible results. Keeping our customers’ health and well-being at the center of everything we do, all our products
                    are nature-inspired, animal-friendly, and made without paraben, sulfates, or silicone.
                </div>
                <div id="text2">
                    <h2>#WOWGreenHands</h2>
                    <p>
                        Being environmentally friendly is at the core of our work and we are very conscious of the responsibility we carry as a brand in all aspects from our packaging to how we source ingredients. We are constantly reflecting on our ecological footprint and
                        innovating on best practices for better sustainability. Our first Paper Tube, 30% PCR packaging and many other upcoming initiatives are a testament to our efforts.
                    </p>
                </div>

                <div id="text3">
                    <h2>
                        Our Small Step Towards A Sustainable Beginning
                    </h2>
                    <p>
                        Taking this a step further, we decided to have our ambassadors, our customers lead our next step towards going green. With every purchase now made at www.buywow.in the customers shall receive a seed pouch along with their box of happiness. Plant the seeds
                        and help us bloom towards a greener and sustainable future.
                    </p>
                </div>
            </div>

            <div id="text4">
                <h2>
                    How does it work?
                </h2>
                <p style="line-height: 45px; ">
                    Every order receives a seed pouch with a seed that can be planted inside your home. Place your order - Receive the seed pouch with it - Plant it & watch it bloom
                </p>
            </div>

            <div id="text5">
                <h2>
                    The Greener Future
                </h2>
                <p>
                    WOW Skin Science pledges to go 100% PCR packaging by 2023 and taking a step in the same direction we have launched WOW’s 1st Paper Tube Vitamin C Face Wash. Stay tuned for a lot more exciting and innovative packaging coming your way, that makes your personal
                    care easier, effective, and good for the environment. Plant a pot today, for a greener tomorrow.
                </p>
            </div>

        </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>
<script src="scripts/home.js"></script>
<script type="module" src="scripts/headerFooter.js"></script>
<script src="scripts/data.js"></script>
<script>
    var productinsertdiv = document.getElementById("productinsert");
    let healthdiv = document.getElementById("healthdiv");

    var localdata = [];
    //.................healthdiv..................






    let skindiv = document.getElementById("skindiv");

    //...........................skin arrow......................................
    var leftarrowskin = document.getElementById("leftarrowskin");

    var leftarrowhealth = document.getElementById("leftarrowhealth");

    leftarrowhealth.addEventListener("click", leftmovehealthfun);
    var rightarrowhealth = document.getElementById("rightarrowhealth");
    rightarrowhealth.addEventListener("click", rightmovehealthfun);


    leftarrowskin.addEventListener("click", leftmoveskinfun);
    var rightarrowskin = document.getElementById("rightarrowskin");

    rightarrowskin.addEventListener("click", rightmoveskinfun);

    var bathingleftarrow = document.getElementById("bathingleftarrow");

    bathingleftarrow.addEventListener("click", bathingleftmove);
    var bathingrightarrow = document.getElementById("bathingrightarrow");

    bathingrightarrow.addEventListener("click", bathingrightmove);
    var bathingproduct = document.getElementById("bathingproduct");
    //.........................ubtan........................

    var ubtanleftarrow = document.getElementById("ubtanleftarrow");

    ubtanleftarrow.addEventListener("click", ubtanleftmove);
    var ubtanrightarrow = document.getElementById("ubtanrightarrow");

    ubtanrightarrow.addEventListener("click", ubtanrightmove);
    var ubtanproduct = document.getElementById("ubtanproduct");
    //......................................ubtan...................

    //.......................onion.....................
    var onionleftarrow = document.getElementById("onionleftarrow");

    onionleftarrow.addEventListener("click", onionleftmove);
    var onionrightarrow = document.getElementById("onionrightarrow");

    onionrightarrow.addEventListener("click", onionrightmove);
    var onionproduct = document.getElementById("onionproduct");

    ////////////////////////////

    var videotext = document.getElementById("videotext");
    videoshow();

    function videoshow() {
        var div = document.createElement("source");
    }

    //...............................................................................
    sendtodatabaseproducts(data);






    function sendtodatabaseproducts(data) {
        data.map((item) => {
            localdata.push(item);
        });
        localStorage.setItem("buywowdatabase", JSON.stringify(localdata));
        console.log(localdata);
    }
    var fetchdata = JSON.parse(localStorage.getItem("buywowdatabase"));

    var health = [];
    var skin = [];
    var bar = [];
    var ubtan = [];
    var onion = [];

    for (i = 0; i < fetchdata.length; i++) {
        if (fetchdata[i].category === "Nutrition $ health") {
            health.push(fetchdata[i]);
        }
        if (fetchdata[i].category === "skin") {
            skin.push(fetchdata[i]);
        }
        if (fetchdata[i].category === "bar") {
            bar.push(fetchdata[i]);
        }
        if (fetchdata[i].category === "ubtan") {
            ubtan.push(fetchdata[i]);
        }
        if (fetchdata[i].category === "onion") {
            onion.push(fetchdata[i]);
        }
    }
    console.log("health", health);
    console.log("ubtan", ubtan);

    var healthitem = [];
    var skinitem = [];
    var baritem = [];
    var ubtanitem = [];
    var onionitem = [];

    var count = 0;
    for (i = 0; i < health.length; i++) {
        if (count < 5) {
            healthitem.push(health[i]);
            count++;
        } else {
            break;
        }
    }
    count = 0;
    for (i = 0; i < skin.length; i++) {
        if (count < 5) {
            skinitem.push(skin[i]);
            count++;
        } else {
            break;
        }
    }

    count = 0;
    for (i = 0; i < bar.length; i++) {
        if (count < 5) {
            baritem.push(bar[i]);
            count++;
        } else {
            break;
        }
    }
    count = 0;
    for (i = 0; i < ubtan.length; i++) {
        if (count < 5) {
            ubtanitem.push(ubtan[i]);
            count++;
        } else {
            break;
        }
    }
    count = 0;
    for (i = 0; i < onion.length; i++) {
        if (count < 5) {
            onionitem.push(onion[i]);
            count++;
        } else {
            break;
        }
    }


    console.log(skinitem);

    //...............................health ...........................
    appendskinitemtodiv(skinitem);

    function appendskinitemtodiv(item) {
        skindiv.innerHTML = "";
        item.map((data) => {
            var div1 = document.createElement("div");
            div1.setAttribute("id", "div1");
            div1.onclick = () => {
                cartdata(data);
                
            };

            var div2 = document.createElement("div");
            div2.setAttribute("id", "imagediv");
            var quickshopbtn = document.createElement("button");
            quickshopbtn.setAttribute("id", "quickshopbtn");
            quickshopbtn.setAttribute("class", "addbtnclass");
            quickshopbtn.innerHTML = "Quick Shop" + " " + `<i class="fas fa-eye"></i>`;
            var addcartbtn = document.createElement("button");
            addcartbtn.innerHTML = "ADD CART" + " " + `<i class="fas fa-shopping-bag"></i>`;
            addcartbtn.setAttribute("id", "addcartbtn");
            addcartbtn.setAttribute("class", "addbtnclass");

            var div3 = document.createElement("div");
            var div4 = document.createElement("div");
            div4.style.display = "flex";
            div4.style.width = "100px";
            div4.style.height = "50px";
            div4.style.marginLeft = "100px";
            div4.style.marginTop = "25px";
            div4.style.justifyContent = "space-around";


            var div5 = document.createElement("div");
            div5.setAttribute("id", "smallimg1");
            var img3 = document.createElement("img");
            img3.setAttribute("id", "img3");
            img3.src = data.img1;

            var div6 = document.createElement("div");
            div6.setAttribute("id", "smallimg2");
            var img4 = document.createElement("img");
            img4.src = data.img2;
            img4.setAttribute("id", "img4");
            div3.style.justifyContent = "center";
            div3.setAttribute("class", "showmid");
            var rate = document.createElement("span");
            rate.innerHTML = data.rating;



            var img1 = document.createElement("img");
            img1.src = data.img1;
            img1.setAttribute("id", "img1hover");

            div1.addEventListener("mouseover", () => {
                img1.src = data.img2;
                console.log(data);
            });

            div1.addEventListener("mouseleave", () => {
                img1.src = data.img1;
                console.log(data);
            });
            var name = document.createElement("p");
            name.setAttribute("id", "name");
            name.textContent = data.name;
            var price = document.createElement("p");
            price.setAttribute("id", "price");
            price.innerHTML = "on sale on" + " " + `<i class="fas fa-rupee-sign"></i>` + data.price;
            var review = document.createElement("span");
            review.setAttribute("id", "review");
            review.textContent = Math.floor(Math.random() * 200 + 100) + "reviews";
            div5.append(img3);
            div6.append(img4);
            div4.append(div5, div6);
            div2.append(img1, quickshopbtn, addcartbtn);
            div3.append(name, rate, review, price);

            div1.append(div2, div3, div4);
            skindiv.append(div1);
        });
    }

    //.........................skin left button....................................
    var len = 3;

    function leftmoveskinfun() {
        var arr = [];
        while (arr.length < 5) {
            if (len == skin.length - 1) {
                len = 0;
            } else {
                arr.push(skin[len]);
                len++;
            }
        }
        console.log(arr);
        appendskinitemtodiv(arr);
    }

    var len = 3;

    function rightmoveskinfun() {
        var arr = [];
        while (arr.length < 5) {
            if (len == skin.length - 1) {
                len = 0;
            } else {
                arr.push(skin[len]);
                len++;
            }
        }
        console.log(arr);
        appendskinitemtodiv(arr);
    }

    //.................health...................

    healthdivfun(healthitem);

    function healthdivfun(item) {
        healthdiv.innerHTML = "";
        item.map((data) => {
            var div1 = document.createElement("div");
            div1.setAttribute("id", "div1");
            div1.onclick = () => {
                cartdata(data);
            };

            var div2 = document.createElement("div");
            div2.setAttribute("id", "imagediv");
            var quickshopbtn = document.createElement("button");
            quickshopbtn.setAttribute("id", "quickshopbtn");
            quickshopbtn.setAttribute("class", "addbtnclass");
            quickshopbtn.innerHTML = "Quick Shop";
            var addcartbtn = document.createElement("button");
            addcartbtn.innerHTML = "ADD CART";
            addcartbtn.setAttribute("id", "addcartbtn");
            addcartbtn.setAttribute("class", "addbtnclass");

            var div3 = document.createElement("div");
            div3.style.justifyContent = "center";
            div3.setAttribute("class", "showmid");
            var rate = document.createElement("span");
            rate.innerHTML = data.rating;



            var img1 = document.createElement("img");
            img1.src = data.img1;
            img1.setAttribute("id", "img1hover");

            div1.addEventListener("mouseover", () => {
                img1.src = data.img2;
                console.log(data);
            });

            div1.addEventListener("mouseleave", () => {
                img1.src = data.img1;
                console.log(data);
            });
            var name = document.createElement("p");
            name.textContent = data.name;
            name.setAttribute("id", "name");
            var price = document.createElement("p");
            price.innerHTML = "on sale on" + " " + `<i class="fas fa-rupee-sign"></i>` + data.price;
            var review = document.createElement("span");
            review.textContent = Math.floor(Math.random() * 200 + 100) + "reviews";
            div2.append(img1, quickshopbtn, addcartbtn);
            div3.append(name, rate, review, price);
            div1.append(div2, div3);
            healthdiv.append(div1);
        });
    }

    //.........................skin left button....................................
    var len = 3;

    function leftmovehealthfun() {
        var arr = [];
        while (arr.length < 5) {
            if (len == health.length - 1) {
                len = 0;
            } else {
                arr.push(health[len]);
                len++;
            }
        }
        console.log(arr);
        healthdivfun(arr);
    }

    var len = 3;

    function rightmovehealthfun() {
        var arr = [];
        while (arr.length < 5) {
            if (len == health.length - 1) {
                len = 0;
            } else {
                arr.push(health[len]);
                len++;
            }
        }
        console.log(arr);
        healthdivfun(arr);
    }
    //.................bar............
    bathingbarfun(baritem);

    function bathingbarfun(item) {
        bathingproduct.innerHTML = "";
        item.map((data) => {
            var div1 = document.createElement("div");
            div1.setAttribute("id", "div1");
            div1.onclick = () => {
                cartdata(data);
            };

            var div2 = document.createElement("div");
            div2.setAttribute("id", "imagediv");
            var quickshopbtn = document.createElement("button");
            quickshopbtn.setAttribute("id", "quickshopbtn");
            quickshopbtn.setAttribute("class", "addbtnclass");
            quickshopbtn.innerHTML = "Quick Shop";
            var addcartbtn = document.createElement("button");
            addcartbtn.innerHTML = "ADD CART";
            addcartbtn.setAttribute("id", "addcartbtn");
            addcartbtn.setAttribute("class", "addbtnclass");

            var div3 = document.createElement("div");
            div3.style.justifyContent = "center";
            div3.setAttribute("class", "showmid");
            var rate = document.createElement("span");
            rate.innerHTML = data.rating;



            var img1 = document.createElement("img");
            img1.src = data.img1;
            img1.setAttribute("id", "img1hover");

            div1.addEventListener("mouseover", () => {
                img1.src = data.img2;
                console.log(data);
            });

            div1.addEventListener("mouseleave", () => {
                img1.src = data.img1;
                console.log(data);
            });
            var name = document.createElement("p");
            name.textContent = data.name;
            name.setAttribute("id", "name");
            var price = document.createElement("p");
            price.innerHTML = "on sale on" + " " + `<i class="fas fa-rupee-sign"></i>` + data.price;
            var review = document.createElement("span");
            review.textContent = Math.floor(Math.random() * 200 + 100) + "reviews";
            div2.append(img1, quickshopbtn, addcartbtn);
            div3.append(name, rate, review, price);


            div1.append(div2, div3);
            bathingproduct.append(div1);
        });
    }

    var len = 3;

    function bathingleftmove() {
        var arr = [];
        while (arr.length < 5) {
            if (len == bar.length - 1) {
                len = 0;
            } else {
                arr.push(bar[len]);
                len++;
            }
        }
        console.log(arr);
        bathingbarfun(arr);
    }

    var len = 3;

    function bathingrightmove() {
        var arr = [];
        while (arr.length < 5) {
            if (len == bar.length - 1) {
                len = 0;
            } else {
                arr.push(bar[len]);
                len++;
            }
        }
        console.log(arr);
        bathingbarfun(arr);
    }

    //...........................................ubtan................

    ubtanproductfun(ubtanitem);

    function ubtanproductfun(item) {
        ubtanproduct.innerHTML = "";
        item.map((data) => {
            var div1 = document.createElement("div");
            div1.setAttribute("id", "div1");
            div1.onclick = () => {
                cartdata(data);
            };

            var div2 = document.createElement("div");
            div2.setAttribute("id", "imagediv");
            var quickshopbtn = document.createElement("button");
            quickshopbtn.setAttribute("id", "quickshopbtn");
            quickshopbtn.setAttribute("class", "addbtnclass");
            quickshopbtn.innerHTML = "Quick Shop";
            var addcartbtn = document.createElement("button");
            addcartbtn.innerHTML = "ADD CART";
            addcartbtn.setAttribute("id", "addcartbtn");
            addcartbtn.setAttribute("class", "addbtnclass");

            var div3 = document.createElement("div");
            div3.style.justifyContent = "center";
            div3.setAttribute("class", "showmid");
            var rate = document.createElement("span");
            rate.innerHTML = data.rating;



            var img1 = document.createElement("img");
            img1.src = data.img1;
            img1.setAttribute("id", "img1hover");

            div1.addEventListener("mouseover", () => {
                img1.src = data.img2;
                console.log(data);
            });

            div1.addEventListener("mouseleave", () => {
                img1.src = data.img1;
                console.log(data);
            });
            var name = document.createElement("p");
            name.textContent = data.name;
            name.setAttribute("id", "name");
            var price = document.createElement("p");
            price.innerHTML = "on sale on" + " " + `<i class="fas fa-rupee-sign"></i>` + data.price;
            var review = document.createElement("span");
            review.textContent = Math.floor(Math.random() * 200 + 100) + "reviews";
            div2.append(img1, quickshopbtn, addcartbtn);
            div3.append(name, rate, review, price);

            div1.append(div2, div3);
            ubtanproduct.append(div1);
        });
    }
    //'''''...........................................'

    //........................leftbuttonmove......................

    var len = 3;

    function ubtanleftmove() {
        var arr = [];
        while (arr.length < 5) {
            if (len == ubtan.length - 1) {
                len = 0;
            } else {
                arr.push(ubtan[len]);
                len++;
            }
        }
        console.log(arr);
        ubtanproductfun(arr);
    }

    //............................right button move.................

    var len = 3;

    function ubtanrightmove() {
        var arr = [];
        while (arr.length < 5) {
            if (len == ubtan.length - 1) {
                len = 0;
            } else {
                arr.push(ubtan[len]);
                len++;
            }
        }
        console.log(arr);
        ubtanproductfun(arr);
    }

    ///////........................skin right button.......................


    //....................onion..................

    onionproductfun(onionitem);

    function onionproductfun(item) {
        onionproduct.innerHTML = "";
        item.map((data) => {
            var div1 = document.createElement("div");
            div1.setAttribute("id", "div1");
            div1.onclick = () => {
                cartdata(data);
            };

            var div2 = document.createElement("div");
            div2.setAttribute("id", "imagediv");
            var quickshopbtn = document.createElement("button");
            quickshopbtn.setAttribute("id", "quickshopbtn");
            quickshopbtn.setAttribute("class", "addbtnclass");
            quickshopbtn.innerHTML = "Quick Shop";
            var addcartbtn = document.createElement("button");
            addcartbtn.innerHTML = "ADD CART";
            addcartbtn.setAttribute("id", "addcartbtn");
            addcartbtn.setAttribute("class", "addbtnclass");

            var div3 = document.createElement("div");
            div3.style.justifyContent = "center";
            div3.setAttribute("class", "showmid");
            var rate = document.createElement("span");
            rate.innerHTML = data.rating;



            var img1 = document.createElement("img");
            img1.src = data.img1;
            img1.setAttribute("id", "img1hover");

            div1.addEventListener("mouseover", () => {
                img1.src = data.img2;
                console.log(data);
            });

            div1.addEventListener("mouseleave", () => {
                img1.src = data.img1;
                console.log(data);
            });
            var name = document.createElement("p");
            name.textContent = data.name;
            name.setAttribute("id", "name");
            var price = document.createElement("p");
            price.innerHTML = "on sale on" + " " + `<i class="fas fa-rupee-sign"></i>` + data.price;
            var review = document.createElement("span");
            review.textContent = Math.floor(Math.random() * 200 + 100) + "reviews";
            div2.append(img1, quickshopbtn, addcartbtn);
            div3.append(name, rate, review, price);
            div1.append(div2, div3);
            onionproduct.append(div1);
        });
    }
    //'''''...........................................'

    //........................leftbuttonmove......................

    var len = 3;

    function onionleftmove() {
        var arr = [];
        while (arr.length < 5) {
            if (len == onion.length - 1) {
                len = 0;
            } else {
                arr.push(onion[len]);
                len++;
            }
        }
        console.log(arr);
        onionproductfun(arr);
    }

    //............................right button move.................

    var len = 3;

    function onionrightmove() {
        var arr = [];
        while (arr.length < 5) {
            if (len == onion.length - 1) {
                len = 0;
            } else {
                arr.push(onion[len]);
                len++;
            }
        }
        console.log(arr);
        onionproductfun(arr);
    }


    function cartdata(item) {
        var cart = [];
        cart.push(item);
        localStorage.setItem("buywowcart", JSON.stringify(cart));
        console.log(cart);
        window.location.href = "/productitem";
    } //..........................hover data..............
    function onmouseoverimage(data) {
        document.getElementById("img1hover").src = data.img2;
    }

    function onmouseleaveimage(data) {
        document.getElementById("img1hover").src = data.img1;
    }
</script>