<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="styles/navbar.css" />
    <link rel="stylesheet" type="text/css" href="styles/login.css" />
    <title>Sign In</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="center">
        <h3>Login</h3>
        <input
          type="email"
          placeholder="Email"
          id="mailAdd"
          class="text-field"
        /><br />
        <input
          type="password"
          placeholder="Password"
          id="mailPass"
          class="text-field"
        /><br />
        <button onclick="SignIn()" id="btn">Sign In</button>
        <p><a href="/register">Register</a></p>
        <p>Forgot your password?</p>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
<script type="module" src="scripts/headerFooter.js"></script>
