<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>
<script src="https://kit.fontawesome.com/0ae10de0e5.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="styles/footer.css" />
<link rel="stylesheet" type="text/css" href="styles/home.css" />
<link rel="stylesheet" type="text/css" href="styles/navbar.css" />
<link rel="stylesheet" type="text/css" href="styles/home1.css" />
<link rel="stylesheet" type="text/css" href="styles/benefit.css" />

<body>
    <header></header>
    <main>
        <div id="benefitone">
            <h5>DECEMBER 10, 2021</h5>
        </div>
        <div id="benefittwo">
            <h1>What Are The Benefits Of Omega 3 Capsules For Skin And Hair?</h1>
        </div>
        <div id="benefitthree">
            <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Omega-3_1_1080x.jpg?v=1639394682" />
        </div>
        <div id="benefitfour">
            <p>
                Worried about dull skin and weak hair? Tired of using a range of pointless creams and shampoos? What you need is a healthy dose of Omega-3 Fatty Acids. Omega 3 is among the essential dietary supplements consumed for a healthy heart and body. While the
                benefits of Omega 3 capsules range from improved cognitive function to a healthy heart and stronger bones, it also helps revive and repair skin and hair health.
            </p>
            <p>
                The Wow Life Science Omega 3 Capsules is enriched with 1000mg of purest EPA (eicosapentaenoic acid), DHA (docosahexaenoic acid) and other omega 3s that are 100% gluten-free and is optimal for your heart, body, joints, skin, hair and overall well-being.
            </p>
        </div>
        <div id="benefitfive" class="benefitsix">
            <h3>Why Wow Life Science Omega 3 Capsules for skin and hair?</h3>
            <p>
                While the primary benefits of The WOW Life Science Omega 3 Capsules are keeping your heart health in check by reducing cholesterol and plaque build-up on arteries and keeping your joints and bones healthy, in addition to supporting the nervous system
                and managing weight, the Omega Capsule benefits for skin and hair are equally remarkable.
            </p>
        </div>
        <div id="" class="benefitsix">
            <h4>Omega 3 Capsule benefits for hair</h4>
            <p>
                <ul>
                    <li>
                        It provides essential nutrients to nourish the hair and scalp, improves the quality of hair and makes it shiny and lustrous
                    </li>
                    <li>It boosts hair growth by promoting circulation in the scalp and controls hair fall by preventing hair follicle inflammation
                    </li>
                    <li>It prevents tender scalp from flaking and itching</li>
                    <li>It helps in the production of essential oils which strengthens the hair and scalp</li>

                </ul>
            </p>
        </div>

        <div id="" class="benefitsix">
            <h5>Omega 3 Capsule benefits for skin</h5>
            <p>
                <ul class="grayshow">
                    <li>
                        It provides essential nutrients to nourish the hair and scalp, improves the quality of hair and makes it shiny and lustrous
                    </li>
                    <li>It boosts hair growth by promoting circulation in the scalp and controls hair fall by preventing hair follicle inflammation
                    </li>
                    <li>It prevents tender scalp from flaking and itching</li>
                    <li>It helps in the production of essential oils which strengthens the hair and scalp</li>

                </ul>
            </p>
        </div>



        <div id="threeimagetext">
            <h1 style="color: #746661">In same category</h1>
        </div>
        <div id="threeimage">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Skin-care_600x.jpg?v=1639415346" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    BENEFITS OF NATURAL SKIN CARE PRODUCTS
                </p>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/Omega-3_1_600x.jpg?v=1639394682" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    WHAT ARE THE BENEFITS OF OMEGA 3 CAPSULES FOR SKIN AND HAIR?
                </p>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1375/4957/articles/kids_body_lotion_600x.jpg?v=1638970833" />
                <h5 style="justify-content: left">DECEMBER 10, 2021</h5>
                <p style="font-size: 23px; justify-content: left">
                    SHOULD WE USE BODY LOTION FOR KIDS IN WINTER?
                </p>
            </div>
            <hr />
        </div>
    </main>
    <footer></footer>
</body>

</html>
<script src="scripts/home.js"></script>
<script type="module" src="scripts/headerFooter.js"></script>