<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/paymentpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <title>Payment</title>
</head>
<body>
    <header></header>
    <main>
        <div id="cartContainer">
            <div id="cartContainerLeft">
                <div>
                    <a href="/"><img src="https://cdn.shopify.com/s/files/1/1375/4957/files/WOW_logos.png?34005" style="height: 80px; width: 120px;"></a>
                </div>
                <div id="linkbox">
                    <a href="" class="link"> cart  </a><a href="checkoutpage.html" class="link">  '<'information  </a><span><a href="shipping.html"  class="link">  '<'shipping</a></span><a href="paymentpage.html"  class="linkpage">  '<'payment</a>
                </div>
                <div class="box">
                    <div id="box1">
                        <label class="label">Contact</label>
                        <input class="input" type="email">
                        <a href="" class="change">change</a>
                    </div>
                    <div id="box2">
                        <label class="label">Ship to</label>
                        <input class="input" type="text">
                        <a href="" class="change">change</a>
                    </div>
                    <div id="box2">
                        <label class="label">Method</label>
                        <label class="label">Free Shipping.</label>
                        <label id="free">Free</label>
                    </div>
                </div>
                <div>
                    <div class="heading">Payment</div>
                    <div>All transactions are secure and encrypted.</div>
                    <div class="box">
                        <div  class="boxin">
                            <input type="radio">
                            <img class="pic" src="https://cdn.shopify.com/s/files/applications/e273f27d4c4fa65fc8e2af05e552f04e.png?height=24&1637057371">
                            
                        </div>
                        <div class="boxin">
                            <input type="radio">
                            <img class="pic" src="https://cdn.shopify.com/s/files/applications/cf8da439fdbc580ee9a666e47eb462de.png?height=24&1594298386">
                        </div>
                        <div class="boxin">
                            <input type="radio">
                            <img class="pic" src="https://cdn.shopify.com/shopifycloud/shopify/assets/checkout/offsite-gateway-logos/paytm@2x-af01977ff64627f57925062e195a194de280c6c879267a51456c0d579acb90c2.png">
                        </div>
                        <div class="boxin1">
                            <input type="radio">
                            <label>Cash on delivery</label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="heading">Billing address</div>
                    <div>Select the address that matches your card or payment method.</div>
                    <div class="box">
                        <div class="boxin">
                            <input type="radio">
                            <label class="label">Same as shipping address</label>
                        </div>
                        <div class="boxin1">
                            <input type="radio">
                            <label class="label">Use a different billing address</label>
                        </div>
                    </div>
                </div>
                <div  >
                    <div class="inline" ><a href="C:\Users\YASHRAJ\Desktop\masai project\shipping.html" class="link">'<'Return to shipping</a></div>
                    <button id="btn" class="inline"  type="submit" onclick="alert('Your order have been completed.')">
                        <i class="fa fa-credit-card"></i> Complete Order</button>
                </div>
                <div >
                    <div class="inline"><a class="link" href="https://www.buywow.in/13754957/policies/refund-policy.html?locale=en">Refund policy</a></div>
                    <div class="inline"><a class="link" href="https://www.buywow.in/13754957/policies/privacy-policy.html?locale=en">Privacy policy</a></div>
                    <div class="inline"><a class="link" href="https://www.buywow.in/13754957/policies/terms-of-service.html?locale=en">Terms of service</a></div>
                </div>
                
            </div>
        </div>>