<!DOCTYPE html>
<html lang="en">
<head> 
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Product Iteam</title>
     <script src="https://kit.fontawesome.com/f3afea15cd.js" crossorigin="anonymous"></script>
     <link href="http://fonts.cdnfonts.com/css/neutra-text-alt" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="./styles/productitem.css">
     <script
     src="https://kit.fontawesome.com/0ae10de0e5.js"
     crossorigin="anonymous"
   ></script>
   <link rel="stylesheet" type="text/css" href="/styles/footer.css" />
   <link rel="stylesheet" type="text/css" href="/styles/navbar.css" />
</head>
     <body>
          <header></header>
          <main>
               <div id="headDiv">
                    <h1 id="pageHeadDiv">NUTRITION & HEALTH</h1>
                    <p>Never let nutritional supplements take a back seat in your self-care regimen. Ensure that your body receives complete nutrition with the WOW Life Science range of Nutritional Supplements.<br> Plant-based supplements with nutritional value that complements your regular diet.</p>
                    <div id="dotteddiv">
                         <div id="twodott">  <i class="far fa-dot-circle"></i><i class="far fa-dot-circle"></i></div>
                         <div id="threedott"> <i class="far fa-dot-circle"></i> <i class="far fa-dot-circle"></i> <i class="far fa-dot-circle"></i></i></div>
                         <div id="fourdott"> <i class="far fa-dot-circle"></i> <i class="far fa-dot-circle"></i> <i class="far fa-dot-circle"></i> <i class="far fa-dot-circle"></i></div>
                    </div>
                    <select name="" id="typesort">
                         <option>Sorting Featured</option>
                         <option value="lowtohigh"> low to high price</option>
                         <option value="hightolow"> high to low price</option>
                         <option value="atoz">A-Z</option>
                         <option value="ztoa">Z-A</option>
                     </select>
              </div>
                    <div id="nutritionContainer">
                         
                    </div>
          </main>
          <footer></footer>
          <a href=""></a>
          <a href="/productitem"></a>
     </body>
</html>

<!-- script to navbar and footer or header and footer tags by noori fathima-->
<script type="module">

     import nav from "/components/navbar.js";

     let hearder = document.querySelector("header");
     hearder.innerHTML = nav();

     let cart = document.getElementById("cart");
     cart.addEventListener("click", openNav);

     function openNav() {
               document.getElementById("mySidenav").style.width = "450px";

               let item = JSON.parse(localStorage.getItem("productDescriptionpagecartitems"));

          let sum  = 0;
          for(let i=0;i<item.length;i++){
               sum = sum + item[i].price;
          }
          let totalPrice = sum;
          if(item.length == 0){
                    document.getElementById("cartItems").innerHTML = `<div id="mpt"><p>Your cart is currently empty.</p><a href="index.html">Start Shopping &#8594</a></div>`;

                    let totalprice = document.getElementById("totalPrice");
                    totalprice.textContent = "₹0";
          }else{
               displayCartItems(item)
               function displayCartItems(item){
                    let sum  = 0;
          for(let i=0;i<item.length;i++){
               sum = sum + item[i].price;
          }
          let totalPrice = sum;
         
               document.getElementById("cartItems").innerText = "";
               let totalprice = document.getElementById("totalPrice");
               totalprice.textContent = "₹0";

               item.map((e,i)=>{

               let totalprice = document.getElementById("totalPrice");
               totalprice.textContent = "₹"+totalPrice;

               let pdiv = document.createElement("div");
               pdiv.setAttribute("id","productinfoDivcart");
               pdiv.style.marginTop = "30px"

               let img = document.createElement("img");
               img.setAttribute("class","cartimg");
               img.setAttribute("src",e.imgFront);

               let title = document.createElement("div");
               title.innerText = e.title;

               let emptydiv = document.createElement("div");

               let price = document.createElement("div");
               price.setAttribute("class","cartproductprice")
               price.textContent = "₹"+e.price;

               

               let closebutton = document.createElement("button");
               closebutton.textContent="X";
               closebutton.style.height= "15px";
               closebutton.style.background = "white";
               closebutton.style.border = "none";
               closebutton.addEventListener("click",function(){deleteItem(e,i);});

               pdiv.append(img,title,emptydiv,price,closebutton);
               document.getElementById("cartItems").append(pdiv);
               document.getElementById("mySidenav").style.width = "450px";

               });
          }

               function deleteItem(e,i){
                    localStorage.setItem("removeditem",JSON.stringify(e));
                    localStorage.removeItem("removeditem");
                    item.splice(i,1)
                    console.log(e);
                    localStorage.setItem("productDescriptionpagecartitems",JSON.stringify(item))
                    displayCartItems(item);
               }

          }
     }

   
     let close = document.getElementById("close");
     close.addEventListener("click", closeNav);
     function closeNav() {
       document.getElementById("mySidenav").style.width = "0";
     }


   
     let search = document.getElementById("search");
     search.addEventListener("click", openSearch);
     function openSearch() {
       document.getElementById("mySearchnav").style.height = "179px";
     }
   
     let remove = document.getElementById("remove");
     remove.addEventListener("click", closeSearch);
     function closeSearch() {
       document.getElementById("mySearchnav").style.height = "0";
     }
   
     import footerPart from "/components/footer.js";
     let footer = document.querySelector("footer");
     footer.innerHTML = footerPart();
   </script>

<!-- script to main Nutrition page and main tag -->
<script type="module">
     import itemdetails from "/components/productitem.js";
     import nutrition from "/components/nutritionData.js";
     let arr=nutrition();
     itemdetails(arr);

          // styling dynamicaly to grid while clicking three dots 
     document.getElementById("threedott").addEventListener("click",()=>{
          document.getElementById("nutritionContainer").style.gridTemplateColumns = "400px 400px 400px";
          document.getElementById("nutritionContainer").style.marginLeft = "7%";
          document.querySelectorAll("#twodott>i").forEach((e)=>{e.style.backgroundColor = "gray";e.style.color="gray"});
          document.querySelectorAll("#threedott>i").forEach((e)=>{e.style.backgroundColor = "black";e.style.color="black"});
          document.querySelectorAll("#fourdott>i").forEach((e)=>{e.style.backgroundColor = "gray";e.style.color="gray"});
          document.getElementById("threedott").style.borderColor = "black";
          document.getElementById("twodott").style.borderColor = "gray";
          document.getElementById("fourdott").style.borderColor = "gray";

     });

     
          // styling dynamicaly to grid while clicking two dots 
     document.getElementById("twodott").addEventListener("click",()=>{
          document.getElementById("nutritionContainer").style.gridTemplateColumns = "300px 300px ";
          document.getElementById("nutritionContainer").style.marginLeft = "25%";
          document.querySelectorAll("#twodott>i").forEach((e)=>{e.style.backgroundColor = "black";e.style.color="black"});
          document.querySelectorAll("#threedott>i").forEach((e)=>{e.style.backgroundColor = "gray";e.style.color="gray"});
          document.querySelectorAll("#fourdott>i").forEach((e)=>{e.style.backgroundColor = "gray";e.style.color="gray"});
          document.getElementById("threedott").style.borderColor = "gray";
          document.getElementById("twodott").style.borderColor = "black";
          document.getElementById("fourdott").style.borderColor = "gray";
     })

     
          // styling dynamicaly to grid while clicking four dots 
     document.getElementById("fourdott").addEventListener("click",()=>{
          document.getElementById("nutritionContainer").style.gridTemplateColumns = "300px 300px 300px 300px";
          document.getElementById("nutritionContainer").style.marginLeft = "2%";
          document.querySelectorAll("#twodott>i").forEach((e)=>{e.style.backgroundColor = "gray";e.style.color="gray"});
          document.querySelectorAll("#threedott>i").forEach((e)=>{e.style.backgroundColor = "gray";e.style.color="gray"});
          document.querySelectorAll("#fourdott>i").forEach((e)=>{e.style.backgroundColor = "black";e.style.color="black"});
          document.getElementById("threedott").style.borderColor = "gray";
          document.getElementById("twodott").style.borderColor = "gray";
          document.getElementById("fourdott").style.borderColor = "black";
     })

     // sorting functionality of products by price and in alphabhatical order
     let select = document.getElementById("typesort");
     select.addEventListener("change",()=>{

          if(select.value == "lowtohigh"){
               arr.sort((a,b)=>{return a.price-b.price})
               itemdetails(arr);
          }else if(select.value == "hightolow"){
               arr.sort((a,b)=>{return b.price - a.price});
               itemdetails(arr);
          }else if(select.value == "atoz"){
               arr.sort((a, b) => {
               let fa = a.title.toLowerCase(),
                   fb = b.title.toLowerCase();

               if (fa < fb) {
                    return -1;
               }
               if (fa > fb) {
                    return 1;
               }
               return 0;
               });
               itemdetails(arr);
          }else if(select.value == "ztoa"){
               arr.sort((a, b) => {
               let fa = a.title.toLowerCase(),
                   fb = b.title.toLowerCase();

               if (fa < fb) {
                    return -1;
               }
               if (fa > fb) {
                    return 1;
               }
               return 0;
               });
               arr.reverse();
               itemdetails(arr);
          }
     });

    

     
</script>