main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 10px;
}
.center {
  width: 500px;
  height: 500px;
}
h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #746661;
  font-family: Neutra Text TF;
}
.text-field {
  width: 100%;
  padding-bottom: 12px;
  border: none;
  border-bottom: 2px solid #a5a4a4;
  margin: 25px 0;
  font-size: 14px;
  background: none;
  outline: none;
}
#btn {
  width: 100%;
  height: 50px;
  margin-top: 16px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
#btn:hover {
  background-color: burlywood;
}
a {
  font-size: 1.35rem;
  color: black;
  line-height: 24px;
}
p {
  text-align: center;
  font-weight: 700;
}
