body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;;
}
#cartContainer{
    display: inline-flex;
    width: 99%;
}
#cartContainerLeft{
    width: 45%;
    padding: 30px 30px 0 30px;
    margin-left: 80px;
    border-right: 0.4px solid rgb(170, 170, 170) ;
}
#linkbox{
    margin-bottom: 30px;
}
.heading{
    font-size: 21px;
    font-weight: normal;
    margin: 20px 0 20px 0  ;
}
.link{
    font-size: 12px;
    text-decoration: none;
    color:blue;
    margin-left: 10px;
    margin-bottom: 30px;
}
.linkpage{
    font-size: 12px;
    text-decoration: none;
    color: rgb(43, 42, 42);
}
.link2{
    text-decoration: none;
    color:blue;
}
.inline{
    display: inline-block;
    margin-top: 20px ;
    margin-bottom: 30px;
}
.box{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: .5px solid rgb(184, 182, 182); 
}
#box1{
    padding: 10px 10px 10px 10px
    ;
}
#box2{
    padding: 15px 10px 10px 10px;
    border-top: .5px solid rgb(179, 178, 178);
}
.input{
    width: 450px;
    margin: 0 10px 0 30px;
    height: auto;
    border: none;
}
.change{
    float: right;
    text-decoration: none;
    color: blue;
}
.label{
    margin-right: 30px;
    color: rgb(78, 78, 78);
}

#free{
    float: right;
}
#btn{
    float: right;
    background-color: blue;
    color: white;
    width: 220px;
    height: 44px;
    background-color: rgb(29, 61, 245);
    border-radius: 5px;
    font-size: 20px;
}

